@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Webkit Browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c4b5fd; /* purple-300 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a78bfa; /* purple-400 for hover */
}

/* Custom Scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-color: #c4b5fd #f1f1f1; /* Thumb color, track color */
  scrollbar-width: thin;
}